[tool.poetry]
name = "async-signals"
version = "0.1.5"
description = "Async version of the Django signals class - for usage in for example FastAPI."
authors = ["TEAM23 GmbH <info@team23.de>"]
license = "BSD-3-Clause"
repository = "https://github.com/team23/async-signals"
readme = "README.md"
packages = [{include = "async_signals"}]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
isort = "^5.10.1"
mypy = ">=0.971,<1.4"
flake8 = "^5.0.4"
flake8-builtins = ">=1.5.3,<3.0.0"
flake8-annotations = "^2.9.1"
flake8-commas = "^2.1.0"
flake8-isort = ">=4.2,<7.0"
flake8-print = "^5.0.0"
flake8-debugger = "^4.1.2"
pytest-cov = ">=3,<5"
anyio = {extras = ["trio"], version = "^3.6.1"}
pytest-anyio = "^0.0.0"
pytest-mock = "^3.8.2"
tox = ">=3.26,<5.0"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
line_length = 115

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
